__pycache__/
.lepal*/
*.swp
~*
*~
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Django stuff:
*.log

# Sphinx documentation

*.pyc
.idea/
node_modules
*.TEMP
*.TMP
/uploads


! /health-miner
! /README.md
! .gitignore
/docs*
/frontend*
/ide*
/temps*
dircmp.bat
workcopy.bat
乐佩智能袖带 小组通讯录20141203.xlsx
需求.txt
/*.doc
/*.docs
/renai*