{% extends 'base_template.html' %}

{% block content %}
<div class="container">
	<div class="margin:auto;">

		<div class="row">
			<div class="col-md-2">
				{% include 'user/info_nav.html' %}
			</div>
			<div class="col-md-10">
				<form class="form-horizontal" role="form" method='POST' id="update-info-form" action="/api/user/update">
				<input value="{{user.id}}" style="display:none;" name="user_id">
				  <div class="form-group">
				    <label for="username" class="col-sm-4 control-label">真实姓名</label>
				    <div class="col-sm-4">
				      <input type="text" class="form-control" name="name" value="{{user.name}}">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="username" class="col-sm-4 control-label">性别</label>
				    <div class="col-sm-4">
				    	<select name="sex">
				    		<option value="1" {% if user.sex == 1 %}selected="selected"{% endif %}>男</option>
				    		<option value="2" {% if user.sex == 2 %}selected="selected"{% endif %}>女</option>
				    	</select>
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="username" class="col-sm-4 control-label">邮箱</label>
				    <div class="col-sm-4">
				      <input type="text" class="form-control" name="email" value="{{user.email | default_if_none:""}}">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="username" class="col-sm-4 control-label">电话</label>
				    <div class="col-sm-4">
				      <input type="text" class="form-control" name="phone" value="{{user.phone | default_if_none:""}}">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="username" class="col-sm-4 control-label">地址</label>
				    <div class="col-sm-4">
				      <input type="text" class="form-control" name="address" value="{{user.address | default_if_none:""}}">
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-offset-4 col-sm-4">
				      <button type="submit" class="btn btn-default">保存修改</button>
				    </div>
				  </div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
	$(document).ready(function(e){
		$('#update-info-form').ajaxForm({
			'beforeSubmit': function(form){
				var dataOk = true;
				form.forEach(function(item){
					if(item.name == 'name'){
						if(!item.value || item.value.length > 40){
							alert('用户名不能为空或过长');
							dataOk = false;
						}
					}
				});
				return dataOk;
			},
			'success': function(res){
				if(res.error){
					return alert('保存错误，请检查提交数据的合法性');
				}
				window.location.reload();
			},
			'error': function(e){
				alert('保存错误，请检查提交数据的合法性');
				return
			},
			'dataType': 'json'
		})
	});
</script>
{% endblock %}